{% include '_includes/header.twig' %}
    <div class="author">
            <div class="author-inner">
                <p>
                    {{ author_email }}: <a class="link-std" href="mailto:dj.active.17@gmail.com">dj.active.17@gmail.com</a>
                </p>
                
            </div>
            <div class="author-inner">
                <p>
                    {{ author_facebook }}: <a class="link-std" href="https://www.facebook.com/thesiv95">@thesiv95</a>
                </p>
            </div>
            <div class="author-inner">
                <p>
                    {{ author_twitter }}: <a class="link-std" href="https://twitter.com/thesiv951">@thesiv951</a>
                </p>
            </div>
            <div class="author-inner">
                <p>
                    {{ author_github }}: <a class="link-std" href="https://github.com/thesiv95/">@thesiv95</a>
                </p>
            </div>
            <div class="author-inner">
                <p>
                    {{ author_vk }}: <a class="link-std" href="https://vk.com/thesiv95">@thesiv95</a>
                </p>
            </div>
            <div class="author-inner">
                <p>{{ author_diploma }}</p>
            </div>
            <div class="author-inner">
                <p>
                    <input type="button" class="btn btn-std" value="{{ btn_to_main_page }}" onclick="go_to('/')">
                </p>
            </div>
        </div>
        {% include '_includes/footer.twig' %}